.contador{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(100, 58, 252);
   
    padding: 4px 80px;
    border-radius: 7%;
}
.restar{
    margin-right: 80%;
}
.sumar{
    margin-left: 80%;
}
.agregar{
    margin-bottom: 10px;
    border-radius: 20%;
    border-color: rgb(100, 58, 252);
    padding: 10px;
    margin-top: 6px;

   
}
.agregar:hover{
    transition: .4;
    background-color: rgba(3, 165, 97, 0.26);
}
.recuContador{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}