.conteinerPrin{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px rgb(0, 0, 0);
    width: 50%;
    
}
.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgDet{   
    width: 80%;
}
.nombrebici{
    border: rgb(0, 0, 0) solid 1px;
    margin: 8px 0;
    padding: 0 30%;
}
.terCom{
    border: solid 2px rgb(75, 44, 126);
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: rgb(0, 0, 0);
}
.terCom:hover{
    background-color: rgba(1, 51, 143, 0.3);
    transition: .4s;

}
.segCom{
    border: solid 2px rgb(75, 44, 126);
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 10px;
    margin-left: 10px;

}  
.segCom:hover{
    background-color: rgba(1, 51, 143, 0.3);
    transition: .4s
}

