.carrito{
    width: 45%;
    display: flex;
    justify-content: end;
    align-items: center;

    
}
.contenedorCarrito{
    display: flex;
    align-items: center;
   
    margin-right: 9%;
    margin-left: 74%;
}
.cantProd{
    color: white;
    text-decoration: none;
    margin-left: 10% ;
}
