.contador{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(100, 58, 252);
   
    padding: 4px 80px;
    border-radius: 7%;
}
.restar{
    margin-right: 80%;
}
.sumar{
    margin-left: 80%;
}
.agregar{
  
    
    border-radius: 20%;
    border-color: rgb(100, 58, 252);
    padding: 1%;
   margin-top: 6px;
   
}
.recuContador{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}